.container {
  padding: 0;
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border-radius: 8px;
  padding: 12px 24px;
  color: white;
  border: none;
}

.loadMoreButton {
  width: 100%;
  padding: 12px 24px;
  margin-top: 16px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
