.card {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  cursor: pointer;

  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}

.content {
  padding-top: 10px;
  flex: 1;
}

.userName {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: var(--text-primary);
  margin-bottom: 8px;
  padding-right: 8px;
}

.text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: var(--text-primary);
}

.message {
  color: var(--text-primary);
}

.avatar {
  border-radius: 40px;
}

.time {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;

  color: var(--text-secondary);
}

.actions {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.subscribeButton {
  padding: 8px 16px;

  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  border-radius: 20px;
  border: 0;

  background: var(--text-primary);
  color: var(--on-primary);
}

.threeDots {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 0;
}

@media (max-width: 480px) {
  .card {
    position: relative;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  .userName {
    display: block;
    margin-bottom: 0;
  }

  .message {
    margin-bottom: 20px;
  }

  .actions {
  }

  .absoluteActions {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
